
    <div class="row footer">
        <div class="col-lg-12">
            <footer>
                <div class="d-flex justify-content-center">
                    <span class="text-muted pr-3"><i class="fas fa-utensils"></i> ArmaTuPedido! </span>
                    <span class="text-muted pr-3">&copy; @DateTime.Now.Year</span>
                </div>
            </footer>
        </div>
    </div>
