/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/v15/*.suo
/Codigo Fuente/SmartTimeRestService/.vs/Tp1/v15/Server/sqlite3/*.lock
/Codigo Fuente/SmartTimeRestService/.vs/Tp1/v15/Server/sqlite3/*.ide
/Codigo Fuente/SmartTimeRestService/.vs/Tp1/v15/Server/sqlite3/*.ide-shm
/Codigo Fuente/SmartTimeRestService/.vs/Tp1/v15/Server/sqlite3/*.ide-wal
/Codigo Fuente/PedidosEmpanadas/.vs/config/applicationhost.config

/Codigo Fuente/PedidosEmpanadas/BackendTp/bin
/Codigo Fuente/PedidosEmpanadas/BackendTp/obj

/Codigo Fuente/SmartTimeRestService/debug.log
/*.lnk
/Codigo Fuente/PedidosEmpanadas/*.vspx

/Codigo Fuente/PedidosEmpanadas/BackendTp/Web.config
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/v15/Server/sqlite3/db.lock
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/v15/Server/sqlite3/storage.ide
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/v15/Server/sqlite3/storage.ide-shm
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/v15/Server/sqlite3/storage.ide-wal
/Codigo Fuente/PedidosEmpanadas/Exceptions/obj
/Codigo Fuente/PedidosEmpanadas/Exceptions/bin
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/DesignTimeBuild/.dtbcache
/Codigo Fuente/PedidosEmpanadas/Exceptions/bin
/Codigo Fuente/PedidosEmpanadas/Exceptions/obj
/Codigo Fuente/PedidosEmpanadas/.vs/Tp1/DesignTimeBuild/.dtbcache
Codigo Fuente/PedidosEmpanadas/Api/bin/
Codigo Fuente/PedidosEmpanadas/Api/obj/
Codigo Fuente/PedidosEmpanadas/.idea/
/Codigo Fuente/PedidosEmpanadas/App/App/bin
/Codigo Fuente/PedidosEmpanadas/App/App/obj
/Codigo Fuente/PedidosEmpanadas/App/App.Android/bin
/Codigo Fuente/PedidosEmpanadas/App/App.Android/obj

Codigo Fuente/PedidosEmpanadas/Api/Web.config
