.pasos {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 20px;
}

.form-group {
    width: 50%;
}

.deshabilitado{
    color: darkgrey;
}

#modalRegistro .form-group {
    width: 100%;
}
