
@{
    ViewBag.Title = "Iniciado";
    Layout = "~/Views/Shared/_UsuarioLayout.cshtml";
}
@section HeadSection{

    <link href="~/Content/pedidoIniciado.css" rel="stylesheet" />
}
    <div class="row">
        <div class="col-12">
            <h2 class="text-center p-3">Pedido Iniciado Correctamente</h2>
        </div>
        <div class="col-12 text-center">
            <span class="pr-1">Si desea modificar el pedido haga click</span>
            <a href="@Url.Action("Editar", "Pedido", new { id = Url.RequestContext.RouteData.Values["id"] })">aquí</a>
        </div>
    </div>

